body{
    height: 150px;
}

button { 
    border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 30px;
    margin: 15px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
    width: 40%;
}
button:active {
    transform: translate(1px, 5px);

    box-shadow: 0px 1px 0px 0px;
}

.canvas {
    
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 625px;
    text-align: center;
    padding: 6%;
   background-color: blue;
}