body {
    font-family: Open Sans;
    background-image: url("BG.jpg");
    height: 90%;
    background-position: center;

}

h1 {
    text-align: center;
}



#quiz {
    text-indent: 5px;
    display:none;
}

.button {
     border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 10px;
    font-size: 30px;
    margin-top: 3%;
    margin-right: 66%;
    margin-left: 34%;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
    width: 30%;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 6%;
    background: pink;
    opacity: 0.9;

	
}

#anotherContainer {
    
    max-width: 700px;
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 6%;
    background:rgba(245, 49, 179, 0.808);
   

	
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    
}

#Question1 {

    border-radius: 3px;
}