body{

    height: 90%;
    background-image: url("Bg.jpg");
    background-size: 20%;
    background-repeat: repeat;

}

h1 ,h2 {
    color:white;
}


button { 
    margin-top: 20%;
    margin-left: 80%;
    border: solid 1px;
    border-color: aliceblue;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;

}

button:active {
    transform: translate(1px, 5px);

    box-shadow: 0px 1px 0px 0px;
}

.canvas {
    
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    text-align: center;
    padding: 6%;
    background: rgba(129, 126, 126, 0.5);
   

}
