body {
    font-family: Open Sans;
    background-color: lightpink;
    height: 90%;
    background-position: center;

}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
     border: 1px;
    background-color: #CCCAD3;
    box-shadow: 0px 5px 0px grey; 
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 20px;
    color:black;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 2%;
    width: 60%;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    float:right;
}

.button a {
    text-decoration: none;
    color: black;
}

#container {
    max-width: 700px;
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 6%;
    background: rgba(77, 69, 69, 0.5);/*pink ni sya */
    opacity: 0.9;

	
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    margin-left: auto;
    margin-right: auto; 
    display:none;
    width: 90px;
}


#anotherContainer {
    
    max-width: 700px;
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 6%;
    background:rgba(105, 101, 104, 0.808);
   

	
}